{% if loopback is defined %}
interface Loopback0
 ip address {{ loopback.address }} {{ loopback.mask }}
{% endif %}

{% if interfaces is defined %}
{% for port, value in interfaces.items() %}
interface Ethernet{{ port }}
{% if 'alias' in value %}
 description {{ value.alias }}
{% endif %}
 ip address {{ value.address }} {{ value.mask }}
{% endfor %}
{% endif %}

{% if subinterface is defined %}
{% for port, value in subinterface.items() %}
interface Ethernet{{ port }}.{{ value.vlan }}
{% if 'alias' in value %}
 description {{ value.alias }}
{% endif %}
 encapsulation dot1q {{ value.dot1q }}
 ip address {{ value.address }} {{ value.mask }}
interface Ethernet{{ port }}
 no shutdown
{% endfor %}
{% endif %}
