{% if loopback is defined %}
{% for port, value in loopback.items() %}
interface Loopback{{ port }}
 ip address {{ value.address }} {{ value.mask }}
{% endfor %}
{% endif %}

{% if interfaces is defined %}
{% for port, value in interfaces.items() %}
interface Ethernet{{ port }}
{% if 'alias' in value %}
 description {{ value.alias }}
{% endif %}
 ip address {{ value.address }} {{ value.mask }}
{% endfor %}
{% endif %}

{% if subinterface is defined %}
{% for port, value in subinterface.items() %}
interface Ethernet{{ port }}.{{ value.vlan }}
{% if 'alias' in value %}
 description {{ value.alias }}
{% endif %}
 encapsulation dot1q {{ value.dot1q }}
 ip address {{ value.address }} {{ value.mask }}
interface Ethernet{{ port }}
 no shutdown
{% endfor %}
{% endif %}

{% if tunnel is defined %}
{% for port, value in tunnel.items() %}
interface Tunnel{{ port }}
 ip address {{ value.address }} {{ value.mask }}
 no ip redirects
 ip mtu 1400
 ip tcp adjust-mss 1360
 tunnel source Loopback{{ port }}
 tunnel mode gre multipoint
 ip nhrp network-id {{ port }}
 tunnel protection ipsec profile DMVPN-P
{% endfor %}
{% endif %}
